.exchanger-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  border: 1px solid #dadce0;
  margin-bottom: 10px;
}

.exchanger-input:last-of-type {
  margin-bottom: 0;
}

.exchanger-input__value {
  width: 40%;
  padding: 4px 4px 4px 10px;
  line-height: 2.25em;
  text-align: left;
  border-radius: 6px 0 0 6px;
  border: none;
  outline: none;
  border-right: 1px solid #dadce0;
}

.exchanger-input__select {
  width: 60%;
  padding-left: 20px;
  border-radius: 0 6px 6px 0;
  border: none;
  outline: none;
  background-color: #fff;
}

.exchanger-input__value::-webkit-outer-spin-button,
.exchanger-input__value::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}